<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <style>
    h1 {
      font-weight: 700;
    }

    li {
      font-weight: 500;
    }
  </style>
</head>

<body>
  <div class="container mt-5 d-flex align-items-center justify-content-center">
    <div class="col-6">
      <form action="/insertData" class="border" method="post">
        <h1 class="text-center">To Do List</h1>
        <div class="m-3 ">
          <input type="text" class="form-control" name="task" placeholder="Enter a Task">
          <input type="submit" class="btn btn-secondary mt-3" name="Add Task">
        </div>
      
        <% user.map((val) => { %>
          <div class="bg-light m-3 row align-items-center">
            <div class="col-8">
              <label><%= val.task %></label>
            </div>
            <div class="col-4 text-end">
              <a href="/editData?id=<%= val.id %>" class="btn btn-secondary me-2">Edit</a>
              <a href="/deleteData?id=<%= val.id %>" class="btn btn-secondary">Delete</a>
            </div>
          </div>
          <% }) %>
      </form>
    </div>
  </div>

</body>

<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>